.titulos{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 32px;
	color: #333;
	text-align: center;	
}

.texto{
	font-weight: bold;
	text-align: center;
	
}

.form-control{

}

.error {
	border-color: red !important;
    outline: 0 none !important;

}

.correcto {
	border-color: #39ff14 !important;
    outline: 0 none !important;

 }

 textarea {
    resize: none;
}