.titulos{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 32px;
	color: #333;
	text-align: center;	
}

.texto{
	font-weight: bold;
	text-align: center;
	
}

.form-control{

}

.error {
	border-color: red !important;
    outline: 0 none !important;

}

.correcto {
	border-color: #39ff14 !important;
    outline: 0 none !important;

 }

 textarea {
    resize: none;
}

#custom-search-input{
    padding-left: 10px !important;
    padding-right: 10px !important;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;   
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.container{
    padding-left: 10px !important;
    padding-right: 10px !important;
    width: 100% !important;
}

.col-md-6{
    width: 100% !important;
}

#tabla{
    width:100% !important; 
}